@font-face {
	font-family: "Eurostile";
	src: url(fonts/Eurostile.ttf);
}

@font-face {
	font-family: "EurostileBold";
	src: url(fonts/EurostileBold.ttf);
}

@font-face {
	font-family: "TriplexSerifLight";
	src: url(fonts/TriplexSerifLight.otf);
}

*, *::before, *::after{
     margin: 0;
     padding: 0;
     box-sizing: border-box; 
   
}
   
.pagewrap{
    display: flex;
    flex-direction: column;
    min-height: 100%; 

  } 

.header {
  background-color: #ddd;
  height: 125px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.headertext {
  position: absolute;
  font-size: 80px;
  top: 17px;
  left: 30px;
  font-family: "EurostileBold";
  text-transform: uppercase;
}

.headertext span {
  color: red;
  }

.pages {
  position: absolute;
  column-count: 5;
  column-gap: 40px;
  font-size: 15px;
  top: 40px;
  left: 425px;
  font-family: "TriplexSerifLight";
}

main {
  flex-grow: 1;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin-top: 200px;
  margin-bottom: 75px;

}

.images img {
  height: 250px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  padding: 4px 4px 4px;
  cursor: pointer;
  border: 1px solid #ebebeb;
  height: 250px;
}

.footer {
  background-color: #ddd;
  height: 70px;
  width: 100%;
  position: relative;
}

.footertext {
  position: absolute;
  font-size: 15px;
  bottom: 25px;
  right: 30px;
  font-family: "Eurostile";
}
