body {
 margin: 0;
 display: flex;
 flex-direction: column;
}

header {
 width: 100vw;
 height: 20vh;
 background-color: white;
}

.pages {
  display: inline-block;
  vertical-align: middle;
  font-size: 1vw;
  text-decoration: none;
}

.pages a {
  text-decoration: none;
  padding: 3vw;
}

.banner {
     display: grid;
     height: 100%;
     position: relative;
     box-sizing: border-box;
}

.center {
    width: 100vw;
    border: 4vw solid;
    box-sizing: border-box;
}

main {
 width: 100vw;
 height: 65vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.cont {
 width: 75vw;
 padding: 0 50px;
 column-gap: 10vw;
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: hidden;
}

footer {
 width: 100vw;
 height: 15vh;
 background-color: pink;
}
